target/
!.mvn/wrapper/maven-wrapper.jar

volumes/

.flattened-pom.xml

.run/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.DS_Store
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# me, for testing
input.txt
temp.txt
/Test.class
/Test.marcel
/Test.mcl
/GroovyTest.groovy
/JavaTest.java
marcel-lexer/src/main/java/com/tambapps/marcel/lexer/MarcelJflexer.java~

*.jar
*.class

# jflex intelij plugin
idea-flex.skeleton